<template>
  <div id="add">
    <div class="add-col">
      <h1>Agregar Socios</h1>
      <md-content v-if="errors.length" class="md-accent errorBox">
        <p>Por favor ingrese los datos requeridos:</p>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
      </md-content>
      <md-card class="form-card">
        <form enctype="multipart/form-data"  @submit.prevent="handleSubmit">
          <input @change="selectFile" type="file" ref="file" />
          <md-field>
            <label>Nombre</label>
            <md-input type="text" v-model="nombre"></md-input>
          </md-field>
          <md-field>
            <label>Apellido</label>
            <md-input type="text" v-model="apellido"></md-input>
          </md-field>
          <md-field>
            <label>telefono</label>
            <md-input type="number" v-model="telefono"></md-input>
          </md-field>
          <md-field>
            <label>Direccion</label>
            <md-input v-model="direccion"></md-input>
          </md-field>
          <md-field>
            <label>E-mail</label>
            <md-input type="email" v-model="email"></md-input>
          </md-field>
          <md-button type="submit" class="md-raised md-primary">agregar socio</md-button>
        </form>
      </md-card>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'add',
    data() {
      return {
        nombre: '',
        apellido: '',
        telefono: '',
        direccion: '',
        email: '',
        file: '',
        errors: ''
      }
    },
    methods:{
      selectFile(){
        this.file = this.$refs.file.files[0]
      },
      handleSubmit() {

        this.errors = []

        if (!this.nombre) {
          this.errors.push("Por favor ingrese Nombre")
        }

        if (!this.apellido) {
          this.errors.push("Por favor ingrese Apellido")
        }

        if (!this.telefono) {
          this.errors.push("Por favor ingrese Telefono")
        }

        if (!this.email) {
          this.errors.push("Por favor ingrese Email")
        }

        const formData = new FormData()
        formData.append('file', this.file, this.file.name)

        let payload = {
          nombre: this.nombre,
          apellido: this.apellido,
          telefono: this.telefono,
          direccion: this.direccion,
          email: this.email,
          formData:  formData
        }

        this.$store.dispatch('ADD_SOCIOS', payload)

        this.nombre = '',
        this.apellido = '',
        this.telefono = '',
        this.direccion = '',
        this.email = ''
      }
    }
  }
</script>

<style>
  #add {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 1%;
  }
  .form-card {
    padding: 2% 4%;
  }
  .errorBox {
    padding: 2%;
    margin-bottom: 20px;
  }
</style>
