<template>
  <div class="socios">
    <div class="socios-container" v-if="getSocios.length > 0">
        <md-card v-for="socio in getSocios">
          <span class="socios-item--delet" @click="deletUser(socio.id)"><i class="material-icons">cancel</i></span>
          <md-card-header>
            <md-card-header-text>
              <div class="md-title"><strong>{{ socio.nombre }} {{ socio.apellido }}</strong></div>
            </md-card-header-text>
          </md-card-header>

          <md-card-content>
            <md-avatar class="md-large">
              <div v-if="socio.formData">
                <img class="center" v-bind:src="socio.file" >
              </div>
              <div class="center" v-else>
                NO HAY IMG
              </div>

            </md-avatar>
            <ul class="socios-list">
              <li class="socios-list--item"><strong>Direccion</strong>: {{ socio.direccion }}</li>
              <li class="socios-list--item"><strong>telefono</strong>: {{ socio.telefono }}</li>
              <li class="socios-list--item"><strong>E-mail</strong>: {{ socio.email }}</li>
            </ul>
          </md-card-content>

          <md-card-actions md-alignment="left">
            <router-link v-bind:to="'/edit/' + socio.id"><i class="material-icons">edit</i></router-link>
          </md-card-actions>
        </md-card>
      </div>
      <div v-else>
        <md-empty-state
          md-rounded
          md-icon="bug_report"
          md-label="Oops!"
          md-description="No hay datos para mostrar, intente mas tarde">
        </md-empty-state>
      </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'socios',
    methods: {
      deletUser(id) {
        this.$store.dispatch('DELET_SOCIOS', id)
      }
    },
    computed: {
      ...mapGetters(["getSocios"])
    }
  }
</script>

<style scoped>
  .socios {

  }
  .socios-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  .socios-item--delet{
    cursor: pointer;
    float: right;
    margin: 10px 10px 0;
  }
  .socios-list {
    padding: 0;
    margin: 0;
  }
  .socios-list--item {
    list-style: none;
  }
  .center {
    text-align: center;
    margin: auto;
  }

</style>
