<template>
  <div id="add">
    <div class="add-col">
      <md-content v-if="errors.length" class="md-accent errorBox">
        <p>Por favor ingrese los datos requeridos:</p>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
      </md-content>
      <md-card class="form-card">
        <form @submit.prevent="handleSubmit">
          <md-field>
            <label>Nombre</label>
            <md-input type="text" :placeholder="dataSocio.nombre" v-model="nombre"></md-input>
          </md-field>
          <md-field>
            <label>Apellido</label>
            <md-input type="text" :placeholder="dataSocio.apellido" v-model="apellido"></md-input>
          </md-field>
          <md-field>
            <label>telefono</label>
            <md-input type="number" :placeholder="dataSocio.telefono" v-model="telefono"></md-input>
          </md-field>
          <md-field>
            <label>Direccion</label>
            <md-input :placeholder="dataSocio.direccion" v-model="direccion"></md-input>
          </md-field>
          <md-field>
            <label>E-mail</label>
            <md-input type="email" :placeholder="dataSocio.email" v-model="email"></md-input>
          </md-field>
          <md-button type="submit" class="md-raised md-primary">agregar socio</md-button>
        </form>
      </md-card>
    </div>
    <div class="add-col">
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'add',
    data() {
      return {
        id: this.$route.params.id,
        nombre: '',
        apellido: '',
        telefono: '',
        direccion: '',
        email: '',
        dataSocio: [],
        errors: ''
      }
    },
    mounted() {
      axios.get('http://localhost:3000/socios/' + this.id)
      .then(res => res.data)
      .then(info => this.dataSocio = info)
    },
    computed: {
      ...mapGetters(["getSocios"])
    },
    methods: {
      handleSubmit(event, id) {

        let payload = {
          nombre: this.nombre,
          apellido: this.apellido,
          telefono: this.telefono,
          direccion: this.direccion,
          email: this.email,
          id: this.id
        }

        this.errors = []

        if (!this.nombre) {
          this.errors.push("Por favor ingrese Nombre")
          return false
        }

        if (!this.apellido) {
          this.errors.push("Por favor ingrese Apellido")
          return false
        }

        if (!this.telefono) {
          this.errors.push("Por favor ingrese Telefono")
          return false
        }

        if (!this.email) {
          this.errors.push("Por favor ingrese Email")
          return false
        }

        axios.put('http://localhost:3000/socios/'+ this.id, payload )
        .then(res => res.data)
        .catch(error => console.log(error))

        this.nombre = '',
        this.apellido = '',
        this.telefono = '',
        this.direccion = '',
        this.email = ''
      }
    }
  }
</script>

<style>
  #add {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 1%;
  }
  .form-card {
    padding: 2% 4%;
  }

  .form-label {
    display: block;
  }
  .errorBox {
    padding: 2%;
    margin-bottom: 20px;
  }
</style>
