<template>
  <div  class="header">
    <div class="header-item">
      <h1>{{ message}}</h1>
    </div>
    <div class="header-item"></div>
    <div class="header-item">
      Socios Activos <md-avatar class="md-avatar-icon md-accent">{{getSociosLength}}</md-avatar>
    </div>
  </div>
</template>
<script>
import {  mapGetters } from 'vuex'

  export default {
    name: 'Header',
    data() {
      return {
      message: 'Club de Socios'
      }
    },
    computed: mapGetters([
        'getSociosLength'
      ])
  }
</script>
<style>
  .header {
    background: #fff;
    border-bottom: 1px solid #F3F4F5;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 2%;
    align-items: center;
  }

  .header-item:last-child {
    text-align: right;
  }
</style>
