<template>
  <div class="dashboard">
    <h1>{{ msg }}</h1>
    <List />
  </div>
</template>

<script>
  import List from '../list/List.vue'
  import { mapState } from 'vuex'

  export default {
    name: 'Dashboard',
    props: {
      msg: String
    },
    mounted(){
      this.$store.dispatch('GET_SOCIOS')
    },
    components: {
      List
    },
    computed: mapState([
        'count'
      ])
  }
</script>

<style scoped>
  .dashboard {
    background: #F8F9FB;
    padding: 1% 3%;
  }
</style>
