<template>
  <div class="footer">
    {{ message}}
  </div>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
    message: 'Club Socios - All right reserved'
    }
  }
}
</script>
<style>
  .footer {
    margin-top: 40px;
    text-align: center;
  }
</style>
