<template>
  <div id="app" class="grid">
    <div class="aside">
      <div class="logo">
        <i class="material-icons">spa</i>
      </div>
      <div class="nav">
        <router-link class="nav-item" to="/"><i class="material-icons">dashboard</i>
          <md-tooltip md-direction="right">Dashboard</md-tooltip>
        </router-link>
        <router-link class="nav-item" to="/add"><i class="material-icons">add_circle</i>
          <md-tooltip md-direction="right">Agregar socio</md-tooltip>
        </router-link>
      </div>
    </div>
    <div class="main-container">
      <Header />
      <router-view></router-view>
      <Footer />
    </div>
  </div>
</template>

<script>
  import Footer from './components/footer/Footer.vue'
  import Header from './components/header/Header.vue'

  export default {
    name: 'app',
    components: {
      Header,
      Footer
    }
  }
</script>

<style scoped="">
  body {
    margin: 0;
    padding: 0;
  }

  #app {
    color: #2c3e50;
    height: 100vh;
  }

  .logo {
    margin-top:20px;
    color: #FFF;
  }

  .logo .material-icons {
    font-size: 3em;
  }

  .grid {
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 1fr;
  }

  .aside {
    display: grid;
    background: #0068FF;
    justify-content: center;
  }

  .nav-item {
    display: block;
  }
</style>
